# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
pip-wheel-metadata/
.python-version

# Local data & logs
data/
tmp/
*.log
sync-log.txt

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db